* {
	box-sizing: content-box;
}
body { 
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: #8dfe82;
	background-color: #FE828C;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 48px;
}
p{
	font-size: 32px;
}
.button{
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color:#000;
	border: none;
	border-radius: 15px;
}
.button:hover{
	background-color: #8dfe82;
}